<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>

register
<!--/*@thymesVar id="users" type="aj"*/-->
<!--th:if-->
<!--th:value-->
<form id="users" action="#" th:action="@{/auth/registers}" method="post" th:object="${users}">
<!--    <input type="text" th:field="*{fullName}"/>-->
    <input id="email"  type="email" name="email"/>
<!--    <input id="age"  type="number" th:field="*{age}"/>-->
    <input type="submit" id="submit" class="contact submit" value="Send message"/>
</form>
</body>
</html>